* {
  font-family: 'Source Sans Pro', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html {
  font-size: 16px;
  color: #222;
  background-color: #373d43;
  background-image: url('/src/assets/landscape.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
}
body {
  margin: 0;
  padding: 0;
}
#app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 800px) {
  html {
    font-size: 14px;
  }
}
